
body{
    background-image:  url("imgaes/clouds.gif"), linear-gradient(#002252,#00375e,#005479, #0f98b8,#a9dfc7,#d5df88,#efdf66,
    #f7cd61, #ffbc6b, #f3954d, #f37f70,#d96c81);
    overflow-x: hidden;
    /* overflow-y: scroll;
    height:100vh; */
}
#site-content{
    /* position: fixed; */
    /* bottom: 0px; */
    width: 100%;
    display:grid;
    /* justify-content: space-between; */
    /* float:right; */
    text-align: center;
    margin-left:125px;
    /* overflow:hidden; */

}

#site-content-header{
    color: red;
}



.banner{
    color:red;
    text-decoration: red wavy underline;
}

.reviews{
    padding:100px;
    vertical-align: top;
    display: inline-block;
    justify-content: space-between;


}
#tv-1{
    position: absolute;
    top:190px;
    left:280px;
    width: 350px;
    height:250px

}

#tv-2{
    position: absolute;
    top:190px;
    left:800px;
    width: 350px;
    height:250px

}

#tv-3{
    position: absolute;
    top:190px;
    left:1300px;
    width: 350px;
    height:250px

}
.reviews img{
    width:300px;
    height:200px;
    margin:20px;


}

#two{
    margin-left:175px;
    margin-right: 175px;
}

.page-links img{
    height:100px;
    width:200px;

}

.page-links a{
    margin: 5px;
}

#more-left{
    margin-left: 200px;;
    float:left;
    width: 450px;
    height:300px;
}

#more-right{
    margin-right:200px;
    float:right;
    width:450px;
}


.site-links{
    position:fixed;
    float:left;
    background-image:linear-gradient(#030f41,#003e69);
    background-image: url(https://i.gifer.com/VJ1.gif);
    width:200px;
    height:100%;
    top:0px;
    left:0px;
    color: red;
    text-align: center; 
    /* overflow-y: scroll; */
}

.site-links ul{
    padding:10px;
    list-style: none;

}

.site-links ul li{
    font-family: 'Times New Roman', Times, serif;
    font-size:15px;
    margin-bottom:45px;
    font-weight: bold;
    display: list-item;
}

.site-links ul img{
    width:40px;
    display:block;
    margin-left:auto;
    margin-right: auto;
}

.site-links a{
    color: red;

}



