
body{
    overflow-x: hidden;
    /* overflow-y: scroll;
    height:100vh; */
}
#site-content{
    /* position: fixed; */
    /* bottom: 0px; */
    width: 100%;
    display:grid;
    /* justify-content: space-between; */
    /* float:right; */
    text-align: center;
    margin-left:125px;
    /* overflow:hidden; */

}

.reviews{
    background-color: antiquewhite;
    padding:100px;
    vertical-align: top;
    display: inline-block;


}
#tv-1{
    position: absolute;
    top:190px;
    left:280px;
    width: 350px;
    height:250px

}
.reviews img{
    width:300px;
    height:200px;
    margin:10px;


}

.page-links img{
    height:100px;
    width:200px;

}

.page-links a{
    margin: 5px;
}

#more-left{
    margin-left: 200px;;
    float:left;
    width: 450px;
    height:300px;
}

#more-right{
    margin-right:200px;
    float:right;
    width:450px;
}


.site-links{
    background-image: url(https://i.gifer.com/VJ1.gif);
    position:fixed;
    float:left;
    background-image:linear-gradient(yellow,green);
    width:200px;
    height:100%;
    top:0px;
    left:0px;
    color: red;
    text-align: center; 
    /* overflow-y: scroll; */
}

.site-links ul{
    padding:10px;
    list-style: none;

}

.site-links ul li{
    font-family: 'Times New Roman', Times, serif;
    font-size:15px;
    margin-bottom:45px;
    font-weight: bold;
    display: list-item;
}

.site-links ul img{
    width:40px;
    display:block;
    margin-left:auto;
    margin-right: auto;
}



